/* For desktop */
html, body, header, nav,section,article {
 margin:0;
 padding:0;
 text-align:center;
 }
body {
  font-family:"DejaVu Sans",Times, Georgia, serif;
}
img {
    height:100%;
}
a , a:link , a:visited, a:hover, a:active { text-decoration: none; color:black; }

ul > li > a, ul > li > a:link , ul > li > a:visited, ul > li > a:hover, ul > li > a:active {
    font-weight: 900;
    color:white;
    font-size:15px;
    
}
/*header*/
nav {
     padding: 10px;
     background-color:grey;
     min-height:50px;
}

nav > .navbar {
     max-height:70%;
     text-align:center;
       position: relative;
       padding:10px;

} 
.navbar > .logo {
   position: absolute;
   margin:0;
   padding:0;
   left:0;
   /* vertically center the icon */
   top: 50%; transform: translateY(-50%);
}
.navbar > .entries-nav {
    float:right;
    //padding-right:50px;
    //text-align: center;
}

.nav-el > p {
    color:white;
}
.naventry {
    display:inline;
    padding-right:50px;//elements du menu en ligne, pas en colonne

}
.naventry > .logonav {
    max-height:50px;
    padding-left: 50px;
    

}
.navbar > .nav-el {
      list-style-type: none;
}
header > nav {
    height:60px;
}
footer > nav {
    height:100px;
}


nav > * {
    color:white;
}
.naventry > .logobottom {
max-height:50px;
}
nav > ul {
    max-height:50px;
}
span > a > img {
    max-height:30px;
    padding: 0 30px 0 30px;
}

.navbar > .center {
} 
.logotop.logo.nav-el  {
   transform:translateY(0%);
}
.navbar > .centercontent {
   position: absolute;
   margin:0;
   padding:0;
   right:0;
   /* vertically center the icon */
   top: 50%; 
   transform: translateY(-50%);
   padding-right:50px;
}
.header-logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
}
/*toutes pages*/
.messagetitle {
    font-size:30px;
    font-weight:normal;
}

section {
     padding: 0 50px 150px 50px;

}
article {
     padding: 0;
     max-height:700px;
     display:inline;
}
/*about*/
.aboutarticles {
    padding:0 30px;
}
.about {
    display:inline-block;

    width:90%;
    overflow:hidden;
    text-align:left;
    margin:0 auto;
    padding:0 auto;

}
.troiscafe {
    float:right;
    max-width: 40%;
    max-height:700px;
    margin:0;
    padding:0;
    margin-left:40px;

    padding-left:40px;
    height:100%;
}
h2 {
    font-weight:normal;
}
.about > *  {
    padding-top: 20px;
}
.about:last-of-type {
    margin-bottom:50px;
}
.salle {
    float:left;
    margin: 0 40px 0 0 ;
    max-width: 45%;
    padding-left:0px;

}
/*index*/
.welcome {
    background-image:url(./assets/mr_coffee_salle.jpg);
    background-size: cover;
background-repeat: no-repeat;
    height:700px;
    width:100%;
    color:white;
    text-align:center;
    text-shadow: -2px 2px 6px black;
    font-weight:900;
    font-size:40px;
    padding-top:150px;
    
}
.subtitle > p {
    font-size:30px;
    font-weight:900;
    margin:0;
    padding:0;

}
.subtitle {
    margin:50px 0;
}
.cartes {
    width:100%;
    height:350px;

}
.carte {
    float:left;
    height:100%;
    width: calc(96%/3);
    background-color:#c5e4ee;
    overflow:hidden;
    color:white;
}


.carte > p {
    padding:0 40px 0 40px;
}
.carte > p > img {
    max-width:25%;
}
.carte > .titre-carte {
    text-shadow: -2px 2px 3px grey;
    font-weight:900;
    font-size:20px;
}
.carte > .contenu-carte {
    font-size:20px;
    font-weight:500;
}

.cartemilieu {
margin: 0 2%;
padding:0;
}
.bouton {
     padding: 30px;
}
.ensavoirplus {
         margin: 40px auto;
    color:white;
    font-size:20px;
        width:200px;

     background-color:#a8beff;
    font-weight:900;
    border-radius:20px;
    padding-block:30px;
    display:inline-block;
    width:500px;
}
.openings {
    text-align:left;
}
.openings > p > b {
    padding-left: 30px;
}
.img-openings {
    max-height:60px;
    vertical-align:middle;
}
.programme {
    text-align:center;
    display:inline-block;
}
.programme > * {
    width:45%;
}
.programme > * > p:last-of-type {
    padding: 30px 0;
}
.mardi {
    float:left;
}
.jeudi {
    float:right;

}
.findepage {
     padding: 30px;
}
.findepage > p {
         margin: 40px auto;
         width:50%;
}
.findepage > p:last-of-type {
    padding-top:30px;
    font-size:25px;
}
.infospratiques {
    padding:0 30px;
}
.infospratiques > * {
             margin: 0px auto;

    text-align:left;
    
    width:50%;
}
/*contact*/
.map {
    padding:0 30px;
            width:100%;
}
#map {
             width:50%;
    height:500px;
    padding-bottom:50px;

}
.contact {
    padding-bottom:40px;
}
.rdvcontact:visited {
    color:black;
}

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .logonav {
         visibility: visible;
      }

    .about {
        width:95%;
    }
    .header-logo {
        height:100px; /*initial : 150px*/
    }

    header > .header-logo > img { 
        display: inline;/*initial : 150px*/
              margin:0;
      padding:0;

        margin-left: auto;
        margin-right: auto;
        width:100px;
        height:100px;
    }
    /*index*/
    .about > * {
        padding:0;
    }
    
    .imagecafe {
        padding-left:40px;
    }
    .salle {
        padding-left:0px;
    }
    section {
        padding:0 50px 0px 50px;
    }
    .programme > * {
        width:48%;
    }
    .carte > .contenu-carte {
        font-size:17px;
    }

    .carte > p {
        padding:0 10px 0 10px;
    }
    .cartes {
        height:400px;
    }
    /*contact*/
    .map {
        width:revert;
        padding:0 50px;
    }
    .infospratiques > *, #map {
        width:80%;
    }
/*       .naventry > .logonav {
         visibility: visible;
      }*/

}
   @media only screen and (max-width: 730px) {

       header > nav {
           height:100px;
       }
           nav > .navbar {
        max-height:100%;
        padding:0;
    }

       nav > * {
           float:revert;
         height:400px;
         display:inline-block;
         width:100%;
      }
      .navbar > .entries-nav {
          float:revert;
      }
      .logotop {
          width:100%;
      }
      footer > nav {
          height:100px;
      }
/*       .naventry > .logonav {
         visibility: hidden;
      }*/
   }
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
html, body, header, nav,section,article {
 margin:0;
 padding:0;
 text-align:center;
 }
/*       .naventry > .logonav {
         visibility: visible;
      }*/

 .naventry {
    display:revert;
    padding-right:revert; //repositionner elements du menu en colonne

}

 
img {
    clear: both; float: left; display: block; position: relative;
    width:100%;
}

body {
  font-family:"DejaVu Sans",Times, Georgia, serif;
}
footer > nav {
    height:150px;
}


  header > nav {
      height:200px;
  }
  .navbar > .nav-el {
      list-style-type: none;
      position:relative;
}
ul {
    
    width:100%;
    text-align:center;
    list-style-position: inside;
}
ul > li > a {
    font-weight: 900;
    color:white;
    font-size:15px;
    display:inline-block;
    padding: 0 auto;
    height:auto;
    padding-bottom:10px;
}
nav {
     padding: 10px;
     background-color:grey;
     min-height:50px;
}
span > a > img {
    height:30px;
    width:30px;
    padding:0;
} 
header > p {
    text-align:center;
    display:inline-block;
    max-width: 50%;
}
/*contact*/

.infospratiques > * {

    text-align:center;
    width:80%;
    
}

.map {
    padding:0 0px;
            width:100%;
}

#map {
             width:100%;
    height:500px;
    padding-bottom:50px;

}
/*index*/
.cartes {
    height:420px;
}

.carte {
    float:left;
    height:100%;
    width: 100%;
    background-color:#c5e4ee;
    overflow:hidden;
    color:white;
    margin-bottom:30px;
}

.carte > p > img, .img-openings, .logobottom {
        clear: both; float: none; display: block; position: relative;
    margin:0 auto;

}
.carte > .contenu-carte {
    font-size:20px;
    font-weight:500;
}

article {
    padding: 15px;
    margin:15px;
}
.navbar > * {
    position:relative;
    float:left;
}
.center {
    float:revert;
}
p.naventry > a {
    display:block;
    padding: 0 0;
}
.naventry > .logonav {
    padding-left: revert;
    width:revert;
    display:inline;

}
ul.nav-el {
    width:60%;
}
.navbar > .logo {
    padding:0;
    list-style-type: none;
    width:100%;
    margin:0 auto;
    position:revert;
    left:revert;top:revert;transform:revert;
}

.navbar > .entries-nav {
    float:none;
    padding:0;
    list-style-type: none;
    width:50%;
    display:inline-block;
    padding-bottom:30px;
}
.troiscafe {
    margin-left: revert;
    float:none;
    max-width:revert;
    
}
.salle {
    max-width:revert;
}
.about {
    width:90%;
    display:inline;
}
.ensavoirplus {
    width:100%;
}
.img-openings {
    width:revert;
}
.jeudi {
    float:left;
    
}
.programme > * {
    width:100%;
}
.openings {
    text-align:center;
}
.openings > p > b {
    padding-left:0px;
}
/*about*/
.about > *  {
    padding-top: 20px;
}

/* footer*/

.twitter {
    padding:0 5%;
    
}
.logobottom {
        width:60px;

}

.cartemilieu {
    margin-right:revert;
    margin-left:revert;
}
.navbar > .entries-nav {
    width:revert;
}
ul.nav-el {
    width:revert;
}
.follow {
    display:inline;
    float:none;
}

.suiveznous {
    width:50%;
}
.nav-el > p {
    margin:20px auto;
}
p.header-logo > img {
    width:revert;
    float:revert;
    display:inline;
              margin:revert;
      padding:revert;

        height:revert;
    }

}

.imagecafe {
    padding-left:revert;
}
