html, body, header, nav,section {
 margin:0;
 padding:0;
 text-align:center;
 }
body {
  font-family:"DejaVu Sans",Times, Georgia, serif;
}
img {
    height:100%;
}
ul > li > a {
    font-weight: 900;
    color:white;
    text-decoration:none;
    font-size:15px;
    
}
nav {
     padding: 10px;
     background-color:grey;
     min-height:50px;
}

nav > .navbar {
     max-height:70%;
     text-align:center;
       position: relative;

} 
.navbar > .logo {
   position: absolute;
   margin:0;
   padding:0;
   left:0;
   /* vertically center the icon */
   top: 50%; transform: translateY(-50%);
}
.navbar > .entries-nav {
    float:right;
    //padding-right:50px;

}

.entries-nav > .naventry {
    display: inline-block;
    margin: 0 30px 0 30px;
    padding:0 auto;
    //zoom:1;
    *display:inline;
}
.naventry > .logonav {
    max-height:50px;
    padding-left: 50px;

}
.navbar > .nav-el {
      list-style-type: none;
}
header > nav {
    height:50px;
}
footer > nav {
    height:100px;
}


nav > * {
    color:white;
}
.naventry > .logobottom {
max-height:100px;
}
nav > ul {
    max-height:50px;
}
span > a > img {
    max-height:30px;
    padding: 0 30px 0 30px;
}

.navbar > .center {
} 
.logotop.logo.nav-el  {
   transform:translateY(0%);
}
.navbar > .centercontent {
   position: absolute;
   margin:0;
   padding:0;
   right:0;
   /* vertically center the icon */
   top: 50%; 
   transform: translateY(-50%);
   padding-right:50px;
}
.header-logo{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:150px;
}
.messagetitle {
    font-size:30px;
    font-weight:normal;
}

section {
     padding: 0 50px 150px 50px;

}
article {
     margin: 0;
     width: 50%;
     padding:0 0 30px 0;
     text-align:left;
     max-height:700px;
}
#map {
    width:100%;
    height:500px;
}

.about {
    width:100%;
    overflow:hidden;
}
.troiscafe {
    float:right;
    max-width: 40%;
    max-height:700px;
    margin:0;
    padding:0;
    padding-left:150px;
    height:100%;
}
h2 {
    font-weight:normal;
}
.about > p,.about > h2  {
    padding-top: 20px;
}
.salle {
    float:left;
    padding: 0 40px 0 0 ;
    max-width: 45%;
}
.welcome {
    background-image:url(./assets/mr_coffee_salle.jpg);
    background-size: cover;
background-repeat: no-repeat;
    height:700px;
    width:100%;
    color:white;
    text-align:center;
    text-shadow: -2px 2px 6px black;
    font-weight:900;
    font-size:40px;
    padding-top:150px;
    
}
.subtitle > p {
    font-size:30px;
    font-weight:900;
    margin:0;
    padding:0;
    padding-top:10px;

}
.cartes {
    width:100%;
    height:350px;

}
.carte {
    float:left;
    height:100%;
    width: calc(96%/3);
    background-color:#c5e4ee;
    overflow:hidden;
    color:white;
}


.carte > p {
    padding:0 40px 0 40px;
}
.carte > p > img {
    max-width:25%;
}
.carte > .titre-carte {
    text-shadow: -2px 2px 3px grey;
    font-weight:900;
    font-size:20px;
}
.carte > .contenu-carte {
    font-size:20px;
    font-weight:500;
}

.cartemilieu {
margin: 0 2%;
padding:0;
}

.ensavoirplus {
    height:60px;
    color:white;
    font-weight:500;
    font-size:20px;
    padding: 0 auto;
    background-color:darkgrey;

}
div.ensavoirplus {
    height:100%;
    width:150px;
}